body {
    background-color: rgba(40, 40, 40, 255);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
    box-sizing: border;
    margin: 0;
}

html {
    margin: 0;
}

.position-header {
    height: 10vh;
    width: 80%;
    text-align: center;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
    line-height: normal;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.employee {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.employee h3 {
    font-size: 3vh;
    height: calc(100% /3);
    display: flex;
    align-items: center;
    margin: 0;
    line-height: normal;
}

.shiftList {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.workday {
    width: calc(100% / 7);
    height: 10vh;
    border: 1px solid #ccc;
    background-color: rgb(80, 40, 40);
}

.empty-time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.empty-time h3 {
    margin: 0; 
    margin-bottom: 0;
    padding: 3.5%;
    font-size: calc(1vw * 1.2); 
    line-height: 0;
}


.shift {
    background-color: rgb(40, 40, 80);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.shift h3 {
    margin: 0;
    padding: 2px;
    font-size: calc(1vw * 1.4); 
}



#bottom-bar {
    border-top: 2px solid rgb(80, 40, 40);
    bottom: 0;
    display: flex;
    flex-direction: row;

}


.fixed-bar {
    height: 10vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background-image: linear-gradient(
        to top,
        rgb(80, 40, 40),        /* Start color */
        rgb(160, 80, 80) 70%,   /* Middle color, closer to the top */
        rgb(160, 80, 80) 80%, /* New color right near the top */
        rgb(120, 60, 60) 100% /* Final color (transparent) very near the top */
    );
    line-height: 10vh;
}

#sub-top {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#current-week-display {
    flex-grow: 1;
    height: 100%;
    line-height: normal;
    width: 50%;
    text-align: center;
}

.week-nav {
    height: 100%;
    flex-grow: 1;
    margin: 0;
    text-align: center;
    color: white;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid rgb(80, 40, 40);
    background-image: linear-gradient(
        to top,
        rgb(80, 40, 40),        /* Start color */
        rgb(160, 80, 80) 70%,   /* Middle color, closer to the top */
        rgb(160, 80, 80) 80%, /* New color right near the top */
        rgb(120, 60, 60) 100% /* Final color (transparent) very near the top */
    );
}

.navigator {
    flex-grow: 1;
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: contain;
    background-size: auto 80%;
    background-color: rgba(0,0,0,0);
    border: 0;
    filter: brightness(1);
    transition: filter 0.3s ease; 
}

.navigator:hover {
    filter: brightness(0.7); 
}

.navigator:active {
    filter: brightness(0.5); 
}

#scheduleBtn {
    background-image: url('img/calendar.svg');
}

#top-bar {
    top: 0;
    border-bottom: 2px solid rgb(80, 40, 40);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#title {
    margin-top: 0;
    font-size: 5vh;
    line-height: 5vh;
    margin-left: 2.5vw;
    white-space: nowrap;
}

#viewType {
    font-size: 3vh;
    line-height: 6vh;
    margin-left: 2.5vw;
    white-space: nowrap;
    color: rgb(220, 220, 220);

}

#view {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 90vh;
    overflow-wrap: anywhere;
    height: 10vh;
}

#dropdown {
    background-image: url('img/search.svg');
    height: 100%;
    width: 10vh;
    margin-right: 2.5vw;
    margin-left: auto;
  }


  

  
  .dropdown-list {
    list-style: none;
    border-top: none;
    position: fixed;
    margin-right: 0;
    right: 0;
    width: 40vw;
    z-index: 1002;
    display: hidden; 
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out; 
}

.dropdown-list.open {
    display: block; /* Make it visible */
    transform: translateX(0); /* Slide into its final position */
}
  
  .dropdown-list li {
    cursor: pointer;
    background-image: linear-gradient(
        to top,
        rgb(80, 40, 40),       
        rgb(160, 80, 80) 70%,   
        rgb(160, 80, 80) 80%, 
        rgb(120, 60, 60) 100% 
    );
    filter: brightness(1);
    transition: filter 0.3s ease; 

    width: 100%;

    height: 10vh;
    font-size: 5vw;
    line-height: 10vh;
    text-align: right;
    padding-right: 1vw;
    box-sizing: border-box;
  }
  
  .dropdown-list li:hover {
    filter: brightness(0.7);
  }
  